/* fonts.css */
@font-face {
    font-family: 'SourceSerifPro-Regular';
    src: url('./SourceSerifPro/SourceSerifPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'SourceSerifPro-Bold';
    src: url('./SourceSerifPro/SourceSerifPro-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  
/* fonts.css */
@font-face {
    font-family: 'SourceSerifPro-Regular';
    src: url('./SourceSerifPro/SourceSerifPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'SourceSerifPro-Bold';
    src: url('./SourceSerifPro/SourceSerifPro-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  
