.display_none{
    display: none;
}
.span_error-input{
    all: unset;
    display: block;
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: red;
    margin-bottom: 15px;
}
.login_page{
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.login_page_left_side{
    width: 50%;
    height: 100vh;
    overflow: hidden;
    align-items: top;
    justify-content: center;
    display: flex;
}
.login_page_left_side img{
    width: 100%;
    height: max-content;
}
.login_page_right_side{
    position: relative;
    width: 50%;
}
.login_form_cont{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-top: 150px;
}
.login_form_cont h2{
    all: unset;
    font-family: "Source Serif Pro";
    font-size: 30px;
    font-weight: 900;
    line-height: 90px;
    font-style: normal;
    text-align: left;
    color: #1b2d55;
}
.login_form_cont form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.login_form_cont form div{
    position: relative;
}
.login_form_cont form div input {
    width: 350px;
    border: none;
    border-bottom: 2px solid #707070;
    background-color: #FFFFFF;
    height: 30px;
    /* Other styles */
}  
.login_form_cont form div input.error-input{
    border-bottom: 2px solid red;
    color: red;
}
.login_form_cont form div input:focus {
    outline: none;
}
.login_form_cont form button{
    all: unset;
    padding: 16px 79px;
    background-color: black;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}
.login_form_cont p{
    opacity: 0.52;

    margin: 0;
    margin-top: 35px;
    font-family: "Montserrat";
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: #000000;
}
.login_form_cont p a{
    font-family: "Montserrat";
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: #000000;
}
.login_page_right_side h1{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: bold;
    line-height: 76px;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 0px;
    left: 40px;
}

@media only screen and (max-width: 768px){
    .login_page{
        flex-direction: column-reverse;
    }
    .login_page_left_side{
        width: 100%;
        height: fit-content;
    }
    .login_page_right_side{
        width: 100%;
    }
    .login_page_right_side h1 a{
        color: #000000;
    }
    .login_page_right_side h1 a:checked{
        color: #000000;
    }
    .login_form_cont h2{
        font-family: "Source Serif Pro";
        font-size: 15px;
        font-weight: 900;
        line-height: 50px;
        font-style: normal;
        text-align: left;
        color: #1b2d55;
    }
    .login_form_cont form button{
        font-family: "Montserrat";
        font-size: 9px;
        font-weight: bold;
        /* line-height: 34px; */
        font-style: normal;
        text-align: center;
        color: #ffffff;
        padding: 9px 40px;
        border-radius: 50px;
    }
    .login_form_cont p{
        margin-bottom: 50px;
        font-size: 12px;
    }
    .login_form_cont p a{
        font-size: 12px;
    }
}