.home-header-text{
    font-family: "Source Serif Pro";
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    font-style: normal;
    text-align: center;
    color: #1b2d55;
    margin-bottom: 20px;
}
.home-header-underline{
    width: 428.2px;
    height: 0px;
    margin: 0 auto;    
    border-color: #707070;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 42px;
}


@media screen and (max-width: 768px) {
.home-header-underline{
    width: 100%;
    margin-bottom: 0px;
}
.home-header-text{
    font-family: "Source Serif Pro";
    font-size: 25px;
    font-weight: 900;
    line-height: 76px;
    font-style: normal;
    text-align: center;
    color: #1b2d55;
    margin-top: 63px;
    margin-bottom: 0;
}
}
